.wise-border {
    border-color: #6b11ff;
}

.wise-color {
    color: #6b11ff;
}

.wise-background {
    background-color: #6b11ff;
}

.avatar-in-text {
    height: 1.4rem;
    vertical-align: -0.25rem;
    border-radius: 50%;
}