.wise-border {
    border-color: #6b11ff;
}

.wise-color {
    color: #6b11ff;
}

.wise-background {
    background-color: #6b11ff;
}

.avatar {
    border-radius: 50%;
}

.avatar-in-text {
    height: 1.4rem;
    vertical-align: -0.25rem;
    border-radius: 50%;
}

h1 {
    text-align: center;
    color: #6c757d !important; /* .text-muted */
    margin-top: 3rem !important; /* mt-5 */
    margin-bottom: 3rem !important; /* mb-5 */
}

.text-very-small {
    font-size: 50%;
}

.sup-75 {
    top: -0.75em !important;
}

.bg-e6 {
    background-color: #e6e6e6;
}

.cursor-pointer {
    cursor: pointer;
}